# üëÅÔ∏èuser Input

In [7]:
x=input()
print(x)
print(type(x))

 10

10
<class 'str'>

In [2]:
x=input()
print(x)
print(type(x))

 12

12
<class 'str'>

x=input().split()
print(x)

here Split() works for spliting
here the user input will be splited by space (By Default):---

# Split a sentence by '-'

In [6]:
x=input().split('-')
print(x)

 Anwesa-panja

['Anwesa', 'panja']

In [4]:
x=input().split('sep')
print(x)

 anwesepwer

['anwe', 'wer']

Split doesnot work on list
Split only works on string

In [ ]:
##Example:---
print(type(input()))
print(type(input().split()))

How to take Multiple User input in string:---

x=input().split('abc')
print(x)

How to take Multiple integer input:---

In [ ]:
x=list(map(int,input().split()))
print(x)

int(string):--- Output will be int [Correct]
int(input().split()) means:-- int(list) but list ar opor int kaj kore naa....Error


üëÅÔ∏èSo it is not applicable for list
it is only applicable for String/float to convert in int

To convert the list element in Int we need to typecast the all the list element.
to typecase (String---> int) we need to implement Map

In [2]:
print(int(10))
print(int('kuntal'))

10

ValueError: invalid literal for int() with base 10: 'kuntal'

In [6]:
x=input().split()
print(x)
print(type(x))
y=input()
print(y)
print(type(y))

# Here we get the out in terms of string

 ram bhanu sanu

['ram', 'bhanu', 'sanu']
<class 'list'>

 ram jam kol

ram jam kol
<class 'str'>

In [ ]:
# for converting this input string to int we use map function
x=list(map(int,input().split()))
print(x)

In [1]:
x=input()
print(x)
y=x.split()
print(y)
z=map(int,y)
print(z)
t=list(z)
print(t)

 10 20 30 40

10 20 30 40
['10', '20', '30', '40']
<map object at 0x000001D9854C4C40>
[10, 20, 30, 40]

How to take Multiple Float Input:---

In [1]:
x=list(map(float,input().split()))
print(x)

 10.2 11.2 13.2

[10.2, 11.2, 13.2]

Multiple Integer Input separated by Comma

x=list(map(int,input().split(',')))
print(x)

single line integer input........................
single line float input..................................
single line String input..................
Multiline string input............
Multiline Float input.........................
Multiline String Input separated By comma..........................
Multiline Float Input separated by comma....................
Multiline String Input separated by comma.................

# üëÅÔ∏èPython Swap 2 numbers

#How to take 2 integer input

In [8]:
a,b=list(map(int,input().split()))
print(a) 
print(b)

 10 20

10
20

In [9]:
x=list(map(int,input().split()))
print(x)

 10 20

[10, 20]

In [10]:
a,b=[10,20]
print(a)
print(b)

10
20

In [ ]:
a,b,c,d=list(map(int,input().split()))
print(a)
print(b)
print(c)
print(d)

In [ ]:
#joto gulo integer toto gulo value...

In [ ]:
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

In [ ]:
a,b=list(map(int,input().split()))
print(a,b)
a,b=b,a
print(a,b)