logical operator

In [2]:
x=10
y=20
z=x>y
print(z)
z=x<y
print(z)
z=x==y
print(z)
z=(x>=y)
print(z)
z=(x<=y)
print(z)
z=x!=y
print(z)

False
True
False
False
True
True

in python when we using logical operator , it will return back True or False

 ### Loop:----

##### for loop
##### while loop

In [14]:
#General Syntax:------
## for i in range(start,end+1,step):
        #statement

In [5]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [6]:
## Here we have written, print(i)==>> Here i will be printed with a newline

In [13]:
##jodi amra pashapashi chaiii........
for i in range(10):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

In [15]:
## here we can replace '\n' by space

In [16]:
for i in range(0,10,1):
    print(i,end=' ')

0 1 2 3 4 5 6 7 8 9

#Here start =0
#end+1=10
#step=1
# that means the loop wil be iterated from 0 to 9 
#and increamented by 1

In [19]:
#print 6 to 10 using for loop :---------
#start=6, end+1=11, step=1
for i in range(6,11,1):
    print(i, end=' ')

6 7 8 9 10

Alternative way:---------

In [21]:
for i in range(6,11):
    print(i,end=' ')

6 7 8 9 10

In [23]:
##here start=6
# end+1=11
## step is not mentioned here, so step =1 (By default)

In [40]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [41]:
import tensorflow as tf
print(tf.reduce_sum(tf.random.normal([1000, 1000])))

tf.Tensor(1010.753, shape=(), dtype=float32)

In [39]:
import tensorflow as tf
print(tf.config.list_physical_devices('GPU'))

[]

##### Print 6 ro 50 incremented by 7

In [42]:
for i in range (6,51,7):
    print(i,end=" ")

6 13 20 27 34 41 48

###### print 50 to 1 in reverse order

In [43]:
for i in range(50,0,-1):
    print(i,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

In [44]:
##for reverse order :----------
        ### general order:---------------
##       range(start,end+1,-step)

In [47]:
for i in range(50,0,-4):
    print(i,end=" ")

50 46 42 38 34 30 26 22 18 14 10 6 2

In [50]:
#Brief:----------------------------
# range(10):-- range(start=0,end+1=10,step=1)
# range(2,10):--- range(start=2,end+=10,step=1)
# range(2,10,3):--- range(start=2,end+1=10,step=3)
# range(50,0,-4):-- range(start=0,end-1=10,step=-4) ## print 50 to 1 in reverse oder with gao 4

In [52]:
 for i in  range(50,0,-1):
     print(i,end=" ")

50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1

### while loop

Generalization

In [1]:
#initialization
# while condition:
        #statement
        # increment/decreement

##### print 1 to 10 using while loop:---------

In [4]:
i=1 #-------------->initialization
while i<=10:#------------------->condition
    print(i,end=" ")
    i=i+1#--------------> increment/decrement 
#in python there is no operator like ++i ,i++ or i--,--i are not available in python

1 2 3 4 5 6 7 8 9 10

In [5]:
i=1
while i<=4:
    print(i,end=" ")
    i=i+1
print(" ")
print(i)

1 2 3 4
5

In [7]:
i=0
while i<=4:
    print(i,"hello")
    i+=1

0 hello
1 hello
2 hello
3 hello
4 hello

### Conditional Statements in Python:----

In [6]:
## Dangling if
## Basic if-else
## Ladder if-else
## Nested if-else

#### Dangling if

In [8]:
## if condition:
        #statement

In [9]:
if 5<10:
    print("Hello")

Hello

if 5>10:
    print("Hello")

# Here else is executed without statement

#### Basic if-else:--

In [13]:
#if condition:
    #statement
#else:
    #statement

In [14]:
x= int(input())
y= int(input())
if x>y:
    print("x is greater")
else:
    print("y is greater")

 12
 23

y is greater

##### Ladder if=else:---

In [16]:
#if condition:
    #statement
#elif condition:
    #statement
#elif condition:
    #statement
#..............
#else:
    #statement

In [17]:
# let:---------------------------
# 90-100    grade o
# 80-89     grade A
# 70-79     grade B
# 60-69     grade C
# 50-59     grade D
#less than BYE BYE

In [19]:
m=int(input())
if m>=90 and m<=100:
    print("Grade O")
elif m>=80 and m<=89:
    print("Grade A")
elif m>=70 and m<=79:
    print("Grade B")
elif m>=60 and m<=69:
    print("Grade C")
elif m>=50 and m<=59:
    print("Grade D")
else:
    print("tata bye bye")

 78

Grade B

##### Nested if-else:------

In [20]:
#let:---------
# age<18 Minor
# age>18 and age<60 Adult
# age>60 Senior citizen

In [21]:
age=int(input())
if age<18:
    print("Minor")
else:
    if age>60:
        print("senior citizen")
    else:
        print("Adult")

 7

Minor

In [22]:
## Another way:--------------
#using elif:----------
age=int(input())
if age<18:
    print("Minor")
elif age>=18 and age<=60:
    print("Adult")
else:
    print("Senior Citizen")

 45

Adult