#### Pattern Print:-------------------

In [ ]:
## Type 1 :------------pattern 1
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,n+1,1):
        print('*',end=' ')
    print()

In [ ]:
## Type 1:-----------pattern 2
 ## here the row will same:--
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,n+1,1):
        print(row,end=' ')
    print()

In [ ]:
## Type 1 :----------pattern 3
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,n+1,1):
        print(col,end=' ')
    print()

In [ ]:
## Type 1:------------------pattern 4
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,n+1,1):
        print(chr(row+64),end=' ')
    print()

In [3]:
## Type 1:---------------pattern 5
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,n+1,1):
        print(chr(col+64),end=' ')
    print()

 4

A B C D
A B C D
A B C D
A B C D

In [1]:
n=int(input())
for row in range(n,0,-1):
    for col in range(1,n+1,1):
        print(row,end=' ')
    print()

 4

4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [6]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(n,0,-1):
        print(col,end=' ')
    print()

 4

4 3 2 1
4 3 2 1
4 3 2 1
4 3 2 1

In [7]:
n=int(input())
for row in range(n,0,-1):
    for col in range(1,n+1,1):
        print(chr(row+64),end=' ')
    print()

 4

D D D D
C C C C
B B B B
A A A A

In [8]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(n,0,-1):
        print(chr(col+64),end=' ')
    print()

 4

D C B A
D C B A
D C B A
D C B A

In [11]:
### Type 2:--------------------------------------------------------------
# Traingle Pattern:--------------------------------
#---------------------------------------------------------------
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print('*',end=' ')
    print()

 4

*
* *
* * *
* * * *

In [3]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print(row,end=' ')
    print()

 4

1
2 2
3 3 3
4 4 4 4

In [4]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print(col,end=' ')
    print()

 4

1
1 2
1 2 3
1 2 3 4

In [6]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print(chr(row+64),end=' ')
    print()

 4

A
B B
C C C
D D D D

In [7]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print(chr(col+64),end=' ')
    print()

 4

A
A B
A B C
A B C D

In [13]:
n=int(input())
for row in range(n,0,-1):
    for col in range(n,row-1,-1):
        print(row,end=' ')
    print()

 4

4
3 3
2 2 2
1 1 1 1

In [14]:
n=int(input())
for row in range(n,0,-1):
    for col in range(n,row-1,-1):
        print(col,end=' ')
    print()

 4

4
4 3
4 3 2
4 3 2 1

In [15]:
n=int(input())
for row in range(n,0,-1):
    for col in range(n,row-1,-1):
        print(chr(row+64),end=' ')
    print()

 4

D
C C
B B B
A A A A

In [16]:
n=int(input())
for row in range(n,0,-1):
    for col in range(n,row-1,-1):
        print(chr(col+64),end=' ')
    print()

 4

D
D C
D C B
D C B A

In [19]:
##Type 3:---------------
#-----------------------------------------------------------------
n=int(input())
for row in range(n,0,-1):
    for col in range(1,row+1,1):
        print('*',end=' ')
    print()

 4

* * * *
* * *
* *
*

In [21]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(n,row-1,-1):
        print('*',end=' ')
    print()

 4

* * * *
* * *
* *
*

In [22]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(row,n+1,1):
        print('*',end=' ')
    print()

 4

* * * *
* * *
* *
*

In [27]:
## Practice:-------------------------------------
#------------------------------------------------------
n=int(input())
for row in range(1,n+1,1):
    for col in range(n,row-1,-1):
        print(row,end=' ')
    print()

 5

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [35]:
n=int(input())
for row in range(n,0,-1):
    for col in range(1,row+1,1):
        print(col,end=' ')
    print()

 5

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [33]:
n=int(input())
for row in range(n,0,-1):
    for col in range(1,row+1,1):
        print(chr(row+64),end=' ')
    print()

 5

E E E E E
D D D D
C C C
B B
A

In [34]:
n=int(input())
for row in range(1,n+1,1):
    for col in range (n,row-1,-1):
        print(chr(row+64),end=' ')
    print()

 5

A A A A A
B B B B
C C C
D D
E

In [36]:
n=int(input())
for row in range(n,0,-1):
    for col in range(1,row+1,1):
        print(chr(col+64),end=' ')
    print()

 5

A B C D E
A B C D
A B C
A B
A

In [37]:
n=int(input())
for row in range(n,0,-1):
    for col in range(1,row+1,1):
        print(row,end=' ')
    print()

 5

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [38]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(n,row-1,-1):
        print(col,end=' ')
    print()

 5

5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [40]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(n,row-1,-1):
        print(chr(col+64),end=' ')
    print()

 5

E D C B A
E D C B
E D C
E D
E

In [1]:
### Type 4:-----------------------------------
#--------------------------------------------------------------
n=int(input())
for row in range(1,n+1,1):
    for col in range(row,n+1,1):
        print(col,end=' ')
    print()

 4

1 2 3 4
2 3 4
3 4
4

In [9]:
#### Type 5:-----------------------------------
#-----------------------------------------------------
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,row+1,1):
        print(row,end=' ')
    print()

 4

      1
    2 2
  3 3 3
4 4 4 4

In [16]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print('*',end=' ')
    print()

 4

      *
    * *
  * * *
* * * *

In [15]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,row+1,1):
        print(col,end=' ')
    print()

 4

      1
    1 2
  1 2 3
1 2 3 4

In [18]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print(chr(row+64),end=' ')
    print()

 5

        A
      B B
    C C C
  D D D D
E E E E E

In [19]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,row+1,1):
        print(chr(col+64),end=' ')
    print()

 5

        A
      A B
    A B C
  A B C D
A B C D E

In [29]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,row-1+1,1):
        print(' ',end=' ')
    for col in range(row,n+1,1):
        print(row,end=' ')
    print()

 5

        5
      4 4
    3 3 3
  2 2 2 2
1 1 1 1 1

In [30]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,row-1+1,1):
        print(' ',end=' ')
    for col in range(n,row-1,-1):
        print(col,end=' ')
    print()

 5

        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [31]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,row-1+1,1):
        print(' ',end=' ')
    for col in range(row,n+1,1):
        print(chr(row+64),end=' ')
    print()

 5

        E
      D D
    C C C
  B B B B
A A A A A

In [32]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,row-1+1,1):
        print(' ',end=' ')
    for col in range(n,row-1,-1):
        print(chr(col+64),end=' ')
    print()

 5

        E
      E D
    E D C
  E D C B
E D C B A

In [33]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print('*',end=' ')
    print()

 4

* * * *
  * * *
    * *
      *

In [34]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print(row,end=' ')
    print()

 5

5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [35]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print(col,end=' ')
    print()

 5

5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [36]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,row+1,1):
        print(col,end=' ')
    print()

 5

1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [38]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(row,0,-1):
        print(chr(row+64),end=' ')
    print()

 5

E E E E E
  D D D D
    C C C
      B B
        A

In [39]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,row+1,1):
        print(chr(col+64),end=' ')
    print()

 5

A B C D E
  A B C D
    A B C
      A B
        A

In [40]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,row-1+1,1):
        print(' ',end=' ')
    for col in range(n,row-1,-1):
        print(col,end=' ')
    print()

 5

5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [42]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,row-1+1,1):
        print(' ',end=' ')
    for col in range(n,row-1,-1):
        print(chr(col+64),end=' ')
    print()

 5

E D C B A
  E D C B
    E D C
      E D
        E

In [2]:
### Type:6:-------------------------------------------------
#-----------------------------------------------------------
n=int(input())
k=1
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print(k,end=' ')
        k+=1
    print()

 5

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [4]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        print(col%2,end=' ')
    print()

 4

1
1 0
1 0 1
1 0 1 0

In [5]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        if(col%2==0):
            print('0',end=' ')
        else:
            print('1',end=' ')
    print()

 5

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [6]:
n=int(input())
for row in range(1,n+1,1):
    for col in range(1,row+1,1):
        if(row%2==0):
            print('0',end=' ')
        else:
            print('1',end=' ')
    print()

 5

1
0 0
1 1 1
0 0 0 0
1 1 1 1 1

In [10]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print('*',end=' ')
    print()

 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [13]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print(row,end=' ')
    print()

 4

      1
    2 2 2
  3 3 3 3 3
4 4 4 4 4 4 4

In [15]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print(chr(row+64),end=' ')
    print()

 4

      A
    B B B
  C C C C C
D D D D D D D

In [16]:
n=int(input())
k=1
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print(k,end=' ')
        k+=1
    print()

 3

    1
  2 3 4
5 6 7 8 9

In [24]:
n=int(input())
k=-1
for row in range(1,n+1,1):
    k=k+2## row operation
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print(k,end=' ')
    print()

 3

    1
  3 3 3
5 5 5 5 5

In [25]:
n=int(input())
k=-1
for row in range(1,n+1,1):
    k=k+2## row operation
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print(chr(k+64),end=' ')
    print()

 4

      A
    C C C
  E E E E E
G G G G G G G

In [28]:
n=int(input())
for row in range(n,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(2*row-1,0,-1):
        print('*',end=' ')
    print()

 4

* * * * * * *
  * * * * *
    * * *
      *

In [3]:
n=int(input())
for row in range(1,n+1,1):
    for row in range(n,0,-1):
        for space in range(1,n-row+1,1):
            print(' ',end=' ')
    for col in range(1,2*row+1,1):
        for col in range(2*row,0,-1):
            print('*',end=' ')
    print()

 5

                    * * * *
                    * * * *
                    * * * *
                    * * * *
                    * * * *

In [11]:
n=int(input())
for row in range(1,n+1,1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(1,2*row-1+1,1):
        print('*',end=' ')
    print()     
for row in range(n-1,0,-1):
    for space in range(1,n-row+1,1):
        print(' ',end=' ')
    for col in range(2*row-1,0,-1):
        print('*',end=' ')
    print()

 5

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *