### In python, there are 4 collections:------------------------
        1.List     --------------------->[]
        2.Set  ------------------------->{}
        3.tuple ------------------------->()
        4.Dictionary ---------------------{}

##  List:--------

### Propertues of List:-----------------
 ### 1.   List is index

In [5]:
x=[10,20,30,40]
print(x)
print(x[0])
print(x[1])
print(x[2])
print(type(x))

[10, 20, 30, 40]
10
20
30
<class 'list'>

### Here,by index we can access list

### 2.List is Ordered

In [7]:
x=[10,20,30]
print(x)

[10, 20, 30]

if we print a list, we will get the list in the same order as we have defined

### 3.List can hold duplicate element

In [8]:
x=[10,10,20,30]
print(x)

[10, 10, 20, 30]

### 4.List is Mutable

In [9]:
x=[10,10,20,30]
print(x)
x[2]=35
print(x)

[10, 10, 20, 30]
[10, 10, 35, 30]

### How to define List in Python:---

In [10]:
## One type way:---------------------
##------------------------------------------
x=[10,20,30]
print(x)
print(type(x))

[10, 20, 30]
<class 'list'>

In [12]:
 ## 2nd way:-----------
x=list() ## usiing constructor:---------
print(x)
print(type(x))

[]
<class 'list'>

### Check the method available in List

In [13]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
## append(): insert at the end----------------------
## ----------------------------------------
x=[10,20]
print(x)
x.append(30)
x.append(40)
print(x)
## we cannot pass two arg in append()

[10, 20]
[10, 20, 30, 40]

In [17]:
def abc(a,b):##=====>poreee [parameter]
    pass

abc(10,20) #=========>Agee [argument]

In [22]:
x=[10,20]
print(x)
x.append([30,40]) ## as a list amra ake bare add korte parbo......
print(x)
print(x[0])
print(x[1])
print(x[2])
print("x[2][0]===>" ,x[2][0])
print("x[2][1]===>" ,x[2][1])

[10, 20]
[10, 20, [30, 40]]
10
20
[30, 40]
x[2][0]===> 30
x[2][1]===> 40

In [23]:
x=[10,20]
print(x)
y=(30,40)
print(y,type(y))
x.append(y)## as a tuple amra ake bare add korte parbo......
print(x)
print(x[0])
print(x[1])
print(x[2])
print("x[2][0]===>" ,x[2][0])
print("x[2][1]===>" ,x[2][1])

[10, 20]
(30, 40) <class 'tuple'>
[10, 20, (30, 40)]
10
20
(30, 40)
x[2][0]===> 30
x[2][1]===> 40

In [26]:
x=[10,20]
print(x)
y={30,40}
print(y,type(y))
x.append(y)## as a set amra ake bare add korte parbo......
print(x)
print(x[0])
print(x[1])
print(x[2])
#print("x[2][0]===>" ,x[2][0]) ----> set in not index it will throw error
#print("x[2][1]===>" ,x[2][1])

[10, 20]
{40, 30} <class 'set'>
[10, 20, {40, 30}]
10
20
{40, 30}

In [28]:
x=[10,20]
print(x)
y={'python':10,'java':12} ## Dictionary 
print(y,type(y))
x.append(y)## as a dict amra ake bare add korte parbo......
print(x)
print(x[0])
print(x[1])
print(x[2])
##print("x[2][0]===>" ,x[2][0]) ---- is not indexed
##print("x[2][1]===>" ,x[2][1])

[10, 20]
{'python': 10, 'java': 12} <class 'dict'>
[10, 20, {'python': 10, 'java': 12}]
10
20
{'python': 10, 'java': 12}

In [29]:
## Observation:-----------------
#-------------------------------------
 #append():--- it can append an element ,list ,set,tuple,dict

In [30]:
### user input:-- 
#5
#10
#20
#30
#40
#50

In [34]:
x=[]  ## defining a blank list
n=int(input())  ## take range
for i in range(n):
    val=int(input())
    x.append(val)
print(x)

 5
 10
 20
 30
 40
 50

[10, 20, 30, 40, 50]

In [35]:
## Clear: It will remove all the elements form a list.It wiill not remove partially--------------------------------
##-----------------------------------------
x=[10,20,30,40,50]
print(x)
x.clear()
print(x)

[10, 20, 30, 40, 50]
[]

In [36]:
x=[10,20,30,40,50,[10,20]]
print(x)
x.clear()
print(x)

[10, 20, 30, 40, 50, [10, 20]]
[]

In [37]:
x=[10]
print(x)
print(x.clear()) ## It refers that it will not return anything
print(x)

[10]
None
[]

In [38]:
## print(x.clear()) ::: Ans:- None 
## Bcz:-- x.clear() it returns nothing
# so if we write within print, like :---
## print(x.clear()):::-- it will print(None):: None

In [43]:
# Copy:-----------------------------
#-----------------------------------------
x=[10,20,30,40,50]
print(x)
y=x.copy()
print(y)

#id-------- different :---- deep copy
print(id(x))
print(id(y))

x[2]=56
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
1754460056320
1754460079360
[10, 20, 56, 40, 50]
[10, 20, 30, 40, 50]

In [ ]:
#deep copy:----------
#here when we are using :--------
#y=x.copy()
#here y and x will be different entitie
#and their address will be different.

#if we modify on x
## that will not be reflected on y.

In [42]:
x=[10,20,30,40,50]
print(x)
y=x
print(y)
# id:---------- same:------shallow copy
#create a alice
print(id(x))
print(id(y))

x[2]=56
print(x)
print(y)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50]
1754460276352
1754460276352
[10, 20, 56, 40, 50]
[10, 20, 56, 40, 50]

In [44]:
#shallow copy:---------------
#here when we are using :--------
#y=x
#here y and x will be same entities, same memory locations with different names.
#and their address will be different.

#if we modify on x
## that will be reflected on y

In [49]:
## Count():It will return back thhe total number of element occurence with in a list
#--------------------------
#If the element is not present in the list it will return 0
#------------------------------------
x=[10,20,30,40,50,20,20]
print(x)
y=x.count(20)
print(y)
y=x.count(88)
print(y)

[10, 20, 30, 40, 50, 20, 20]
3
0

In [54]:
## extend():is used to merge two list
#so,here
#List1:[10,20,30,40,50]
#List2:[70,90] ## merging list1 and list2 we are getting,---
#[10,20,30,40,50]+[70,90]===[10,20,30,40,50,70,90]
#-------------------------------
#-----------------------------------------------
x=[10,20,30,40]
print(x)
y=[70,90]
x.extend(y) ## if we wanna merge two list
print(x[4])
print(x)

[10, 20, 30, 40]
70
[10, 20, 30, 40, 70, 90]

In [55]:
## if we run it through append():--------
##append() is used to add one list as element in another list.
#so here
  ## list1=[10,20,30,40,50]
  ## list2=[70,90]
#appending list2 in list1 we are getting:----
#[10,20,30,40,50] append [70,90]=[10,20,30,40,50,[70,90]]
x=[10,20,30,40]
print(x)
y=[70,90]
x.append(y)
print(x[4])
print(x)

[10, 20, 30, 40]
[70, 90]
[10, 20, 30, 40, [70, 90]]

In [56]:
x=[10,20,30,40,50]
print(x)
y=[70,90,[22,44],77]
x.extend(y)
print(x)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 70, 90, [22, 44], 77]

In [59]:
## Index(): this method in python will help you to find the index of the element.
#if the element is present, it will return back the index of 1st element.
## if the element is not found , it will throw value error.

## If the element is present more than 1 time,then by index() we will get to know
# the index of 1st presence of that element.
##-----------------------------------------
x=[10,20,30,40,50,10,20]
print(x)
y=x.index(40)
print(y)
y=x.index(140)
print(y)

[10, 20, 30, 40, 50, 10, 20]
3

ValueError: 140 is not in list

In [61]:
x=[10,20,30,40,50,10,20]
print(x)
try:
    y=x.index(140)
    print(y)
    ## jodi code jhar khaii thaholeii except execute hobe
    ## jodi code jhar na khaiii then except execute hobee naaa
except:
    print('Element is not in the list')

[10, 20, 30, 40, 50, 10, 20]
Element is not in the list

In [62]:
x=[10,20,30,40,50,10,20]
print(x)
try:
    print("line1")
    print("line2")
    print("line3")
    print("line4")
    y=x.index(140)
    print("line5")
    print("line6")
except:
    print("exline1")
    print("exline2")
    print("Element is not the list")
    print("exline3")
    print("exline4")

[10, 20, 30, 40, 50, 10, 20]
line1
line2
line3
line4
exline1
exline2
Element is not the list
exline3
exline4

In [66]:
x=[10,20,30,40,50,10,20]
print(x)
try:
    print("line1")
    print("line2")
    print("line3")
    print("line4")
    y=x.index(40)
    print(y)
    print("line5")
    print("line6")
except:
    print("exline1")
    print("exline2")
    print("Element is not the list")
    print("exline3")
    print("exline4")

[10, 20, 30, 40, 50, 10, 20]
line1
line2
line3
line4
3
line5
line6

In [67]:
# Here:-----
    #In the try block,
    # We will execute the code untill we are getting error.
## if we are geting any error,------
#from that point of code,the action will be moved to except block.

#if we are not getting any error,---------
#then except block will not be executed.

In [68]:
x=[10,20,30,40]
print(x)
y=list(map(int,input().split()))
z=0
for i in y:
    z=i
    try:
        y=x.index(z)
        print(y)
    except:
        print(z,'is not in the list')

[10, 20, 30, 40]

 17 20 87 30 67

17 is not in the list
1
87 is not in the list
2
67 is not in the list

In [ ]:
x=[10,20,39,40,50]
print(x)
y=list(map(int,input().split()))
z=0
for i in y:
    z=i
    try:
        y=x.index(z)

In [4]:
************************************
x=[10,20,39,40,50,10,20]
print(x)
y=list(map(int,input().split()))
z=0
ans=""
for i in y:
    z=i
    try:
        y=x.index(z)
        ans=ans+'1'
    except:
        ans=ans+'0'
print(ans)

[10, 20, 39, 40, 50, 10, 20]

 10 80 50 70 150 20

101001

In [6]:
x=[10,20,30,40,50,10,20]
print(x)
val=int(input())
y=x.index(val)
print(val,"is present at",y)

[10, 20, 30, 40, 50, 10, 20]

 30

30 is present at 2

In [7]:
## insert():------------------------
##--------------------------------------
x=[10,20,30,40,50]
y=25

x.insert(2,y) ## koto number index aa ghapla korbo mathay rakhte hobe
print(x)

[10, 20, 25, 30, 40, 50]

In [8]:
x=[10,20,30,40,50]
y=25

x.insert(12,y) ## index=12
print(x)

[10, 20, 30, 40, 50, 25]

In [10]:
x=[10,20,30,40,50]
y=25

x.insert(-12,y) 
print(x)

[25, 10, 20, 30, 40, 50]

In [11]:
x=[10,20,30,40,50]
y=25

x.insert(-2,y)
print(x)

[10, 20, 30, 25, 40, 50]

In [13]:
## pop:By default it will remove the last element---------------------
##----------------------------------
x=[10,20,30,40,50]
print(x)
print(x.pop())
print(x)

[10, 20, 30, 40, 50]
50
[10, 20, 30, 40]

In [15]:
 x=[]   ##index error
print(x)
print(x.pop())
print(x)

[]

IndexError: pop from empty list

In [16]:
## If the value is not present in a list and we interested to delete an element by pop(),
## It will throw idexerror

NameError: name 'I' is not defined

In [18]:
## solution:----
x=[]
try:
    print(x.pop())
    print(x)
except:
    print("List is empty")

List is empty

In [19]:
x=[10,20,30,40,50]
print(x)
print(x.pop(3)) ## by giving index value
print(x)

[10, 20, 30, 40, 50]
40
[10, 20, 30, 50]

In [20]:
x=[10,20,30,40,50]
print(x)
print(x.pop(-3))
print(x)

[10, 20, 30, 40, 50]
30
[10, 20, 40, 50]

In [21]:
x=[10,20,30,40,50]
print(x)
print(x.pop(2))
print(x)
print(x.pop(-2))
print(x)

[10, 20, 30, 40, 50]
30
[10, 20, 40, 50]
40
[10, 20, 50]

In [23]:
## remove:-------------------------------
##----------------------------------------------
x=[10,20,30,40,50]
print(x)
y=x.remove(30)  ### value dite hobeeee for remove
print(y)
print(x)
y=x.remove(90)
print(y)

[10, 20, 30, 40, 50]
None
[10, 20, 40, 50]

ValueError: list.remove(x): x not in list

In [24]:
## if the value is present in the list, it will delete only the 1st occurance
##If the value is not present in the list,it will throw value error

In [26]:
x=[10,20,30,90,10,20]
print(x)
y=x.remove(10)
print(x)

[10, 20, 30, 90, 10, 20]
[20, 30, 90, 10, 20]

In [28]:
## sobar presence k delete korte hobe::---
x=[10,20,30,40,50,30,30,60]
print(x)
print(x.count(30))
for i in range(x.count(30)):
    x.remove(30)
print(x)

[10, 20, 30, 40, 50, 30, 30, 60]
3
[10, 20, 40, 50, 60]

In [30]:
x=[10,20,30,40,50,30,30,60]
print(x)
print(x.count(90))
for i in range(x.count(30)):
    x.remove(90)
print(x)

[10, 20, 30, 40, 50, 30, 30, 60]
0

ValueError: list.remove(x): x not in list

In [35]:
x=[10,20,30,40]
y=[[100,200,[300,400]],11]
x.extend(y)
print(x)
## now we want to acess 300
print(x[4][2][0])

[10, 20, 30, 40, [100, 200, [300, 400]], 11]
300

In [45]:
## reverse: here we can reverse the list using reverse method
# it will reverse the original list------------------------------
#-----------------------------------------
x=[10,20,30,40,50]
print(x)
x.reverse()
print(x)

[10, 20, 30, 40, 50]
[50, 40, 30, 20, 10]

In [46]:
[10,20,30]
[30,20,10]

[10,20,10]
[10,20,10]

[10, 20, 10]

In [47]:
## check the list is palindromic or not::-----------------
#----------------------------------
# we have two options:------------
#-----------------------------------
# 1) using copy
#2) using third element to stoe the value in it
##

In [48]:
## Approch 1:---------
## take the 1st list as a input(x)
## make a copy of it (y)
## now x.reverse()
##compare x with y.

In [58]:
x=list(map(int,input().split()))
print(x)
y=x.copy() ## deep copy
x.reverse()
print(x)
print(y)
print(x==y)

 10 20 10

[10, 20, 10]
[10, 20, 10]
[10, 20, 10]
True

In [49]:
## Approach 2:-----------
## now reverse the string and store with in y.
# compare x with y

In [59]:
x=list(map(int,input().split()))
y=list(reversed(x))
print(x==y)

 10 20 10

True

In [61]:
x=list(map(int,input().split()))
y=list(reversed(x))
print(x==y)

 20 30 40

False

In [ ]:
y=x.reverse() ## it will return none + reverse the original list and it will return none

In [ ]:
reversed(x) ## it will return bacj the reversed list that is stored here within y

In [64]:
## sort():-------------------------------
##--------------------------------------
x=[10,20,30,4,7,1]
print(x)
x.sort()  ## only interger # asscending order
print(x)
## here also the orginal list will be sorted

[10, 20, 30, 4, 7, 1]
[1, 4, 7, 10, 20, 30]

In [65]:
## descending order:------

In [66]:
x=[10,20,30,4,7,1]
print(x)
x.sort(reverse=True)  ## only interger # asscending order
print(x)

[10, 20, 30, 4, 7, 1]
[30, 20, 10, 7, 4, 1]

In [67]:
x=[10,20,30,4,7,1]
print(x)
x.sort(reverse=False)  ## only interger # asscending order
print(x)

[10, 20, 30, 4, 7, 1]
[1, 4, 7, 10, 20, 30]

In [68]:
x=[10,20,30,4,7,1]
print(x)
x=list(reversed(sorted(x))) 
print(x)
## sorted(x):----- [1,4,7,10,20,30]
## reversed([1,4,7,10,20,30]:----> iterator
## list(iterator)=[30,20,10,7,4,1]

[10, 20, 30, 4, 7, 1]
[30, 20, 10, 7, 4, 1]

In [69]:
x=['Ranu','Tanu','Manu','Diya']
print(x)
x.sort()
print(x)

['Ranu', 'Tanu', 'Manu', 'Diya']
['Diya', 'Manu', 'Ranu', 'Tanu']

In [70]:
## For String sorting:--- all the elements should be string.
## number and string mixed up will result error.

In [71]:
## ASCII RANGE:----------------
##-----------------------------
   #A:-- 65---- Z:- 90
   #a:-97 ......z:122
   #0:48.......9:-57

In [73]:
x=['b','b1','b3','b0']
print(x)
x.sort()
print(x)

['b', 'b1', 'b3', 'b0']
['b', 'b0', 'b1', 'b3']

In [74]:
x=['b','b1','b3','b0','c1']
print(x)
x.sort()
print(x)

['b', 'b1', 'b3', 'b0', 'c1']
['b', 'b0', 'b1', 'b3', 'c1']

In [76]:
## sort name based onb length:--
x=["Shub","Sristi","Tamal","Asmitttt"]
y=sorted(x,key=len)
print(y)

['Shub', 'Tamal', 'Sristi', 'Asmitttt']

In [77]:
## sort name based onb length:--
x=["Shub","Sristi","Tamal","Asmitttt"]
y=sorted(x,key=len,reverse=True)
print(y)

['Asmitttt', 'Sristi', 'Tamal', 'Shub']

In [80]:
# If length of strings are same,then sort Alphabetically in Ascending Order
x=["Shub","Sristi","Tamal","Asmit"]
y=sorted(x,key=lambda element:(len(element),element))
print(y)
## x:--- Target list :kk ake sort korbo
## key:-- Rules for sorting :-- ki diye hobe
## lamda:- helps to define the rules :-- lambda diye rules likhbo
## element:-- each element  ## each element sort in which basis
## len(element):-- bt length  ## jodi same hoye jayy then
## element:-- ascii wise sorting korbo

['Shub', 'Asmit', 'Tamal', 'Sristi']

In [81]:
## Firstly it will sort based on length 
# IF for multiple element,we are getting same length value then,
#next sorting will ber based on ascii for those similar length element.

In [87]:
## If we want to do reverse:--
x=["Shub","Sristi","Tamal","Asmit"]
y=sorted(x,key=lambda element:(len(element),element),reverse=True)
print(y)
## Sort based on length and if for multiple elements length is same then sort them based on ascii and reverse the content

['Sristi', 'Tamal', 'Asmit', 'Shub']

In [90]:
## Sort by length in Descending order 
## Sort by Ascii in Ascending order

In [93]:
## Sort by length in Descending order + ## Sort by length in Descending order :----
x=["Shub","Sristi","Tamal","Asmit"]
y=sorted(x,key=lambda element:(-len(element),element))
print(y)

['Sristi', 'Asmit', 'Tamal', 'Shub']

In [97]:
## Now sort Based on Country in Ascending Oder:----
##******************************************
x=[['India',12],['Spain',12],['Australia',45],['England',10]]
print(x)
x.sort(key=lambda item:item[0])
print(x)

[['India', 12], ['Spain', 12], ['Australia', 45], ['England', 10]]
[['Australia', 45], ['England', 10], ['India', 12], ['Spain', 12]]

In [98]:
x=input().split()
y=sorted(x,key=lambda element:(-len(element),element))
print(y)

 Shubhra Asmit Sristhi Tamal Prantik

['Prantik', 'Shubhra', 'Sristhi', 'Asmit', 'Tamal']

In [99]:
x=[['India',12],['Spain',12],['Australia',45],['England',10]]
print(x)
x.sort(key=lambda item:item[0],reverse=True)
print(x)

[['India', 12], ['Spain', 12], ['Australia', 45], ['England', 10]]
[['Spain', 12], ['India', 12], ['England', 10], ['Australia', 45]]

In [100]:
x=[['India',12],['Spain',12],['Australia',45],['England',10]]
print(x)
x.sort(key=lambda item:item[1])
print(x)

[['India', 12], ['Spain', 12], ['Australia', 45], ['England', 10]]
[['England', 10], ['India', 12], ['Spain', 12], ['Australia', 45]]

In [101]:
x=[['India',12],['Spain',12],['Australia',45],['England',10]]
print(x)
x.sort(key=lambda item:item[1],reverse=True)
print(x)

[['India', 12], ['Spain', 12], ['Australia', 45], ['England', 10]]
[['Australia', 45], ['India', 12], ['Spain', 12], ['England', 10]]