In [1]:
print("Ranu")

Ranu

this is our first program

In [2]:
#For creating Headline:---

# select the cell and press 1

## select the cell and press 2

**Classroom**

**First Programming**

In [3]:
print("classroom")
print('classroom')

classroom
classroom

**In python there is no problem regarding Datatype**

In [4]:
a=12
print(type(a))
b=11.55
print(type(b))

<class 'int'>
<class 'float'>

In [5]:
x=3+4j
print(x)
print(type(x))

(3+4j)
<class 'complex'>

In [2]:
x=input()
print(x)

 Piti

Piti

In [3]:
y=input()
print(y)

 Titli

Titli

 input(): here user input as a string

now getting input :--- as int

In [5]:
num=int(input())
print(num)
print(type(num))

 10

10
<class 'int'>

In [6]:
num=float(input())
print(num)
print(type(num))

 11

11.0
<class 'float'>

In [8]:
num=eval(input())
print(num)
print(type(num))

 2.5

2.5
<class 'float'>

In [9]:
num=eval(input())
print(num)
print(type(num))

 2.444

2.444
<class 'float'>

eval means:--- Evaluation

It evaluates the expression

In [12]:
exp="2*(6/3)+4"
print (eval(exp))

8.0

In [14]:
exp1="2+(8/3)+6"
print (eval(exp1))

10.666666666666666

In [15]:
num=eval(input())
print(num)
print(type(num))

 "Ranu"

Ranu
<class 'str'>

In [18]:
num=eval(input())
print(num)
print(type(num))

 2

2
<class 'int'>