In [1]:
## use of Dictionary: for extracting meterial from large meterial-------------------
##--------------------------------------

In [2]:
Student={
    1:{
        "name":"Astha Sarkar",
        "age":20,
        "grades":{"Math":88,"Physics":92,"Chemistry":85},
        "address":{
                "street":"123 College St",
                "city":"Kolkata",
                "state":"West bengal",
                "zip":"700001"
        }
    }, 

        2:{
            "name":"Raj Malhotra",
            "age":21,
            "grades":{"Math":76,"Physics":85,"Chemistry":90},
            "address":{
                "street":"456 Lake Rd",
                "city":"Mumbai",
                "state":"Maharasthra",
                "zip":"400001"
            }
        },
        3:{
            "name":"Riya Sen",
            "age":22,
            "grades":{"Math":90,"Physics":91,"Chemistry":89},
            "address":{
                "street":"789 Park Ave",
                "city":"Delhi",
                "state":"Delhi",
                "zip":"110001"
            }
        },
        4:{
            "name":"Amit Sharma",
            "age":23,
            "grades":{"Math":82,"Physics":78,"Chemistry":88},
            "address":{
                "street":"101 River St",
                "city":"Pune",
                "state":"Maharasthra",
                "zip":"411001"
            }
        },
        5:{
            "name":"Neha Gupta",
            "age":20,
            "grades":{"Math":95,"Physics":87,"Chemistry":90},
            "address":{
                "street":"202 Hill Rd",
                "city":"Jaipur",
                "state":"Rajasthan",
                "zip":"302001"
            }
        },
        6:{
            "name":"Ankit Roy",
            "age":19,
            "grades":{"Math":79,"Physics":82,"Chemistry":80},
            "address":{
                "street":"303 Queen St",
                "city":"Chennai",
                "state":"Tamil Nadu",
                "zip":"600001"
            }
        }, 
        7:{
            "name":"priya Mehta",
            "age":22,
            "grades":{"Math":89,"Physics":85,"Chemistry":84},
            "address":{
                "street":"404 Spring Ln",
                "city":"Banglore",
                "state":"Karnataka",
                "zip":"560001"
            }
        },
            8:{
                "name":"Arjun Nair",
            "age":21,
            "grades":{"Math":92,"Physics":90,"Chemistry":88},
            "address":{
                "street":"505 Green Ave",
                "city":"Hyderabad",
                "state":"Telangana",
                "zip":"500001"
            }
            },     
        9:{
            "name":"Sana Khan",
            "age":20,
            "grades":{"Math":86,"Physics":80,"Chemistry":82},
            "address":{
                "street":"606 park st",
                "city":"Ahmedabad",
                "state":"Gujarat",
                "zip":"380001"
            }
        }, 
        10:
            {
            "name":"Rohit Das",
            "age":23,
            "grades":{"Math":91,"Physics":88,"Chemistry":90},
            "address":{
                "street":"707 Willow Dr",
                "city":"Lucknow",
                "state":"Uttar Pradesh",
                "zip":"226001"
            }
            }
}

In [20]:
## format:--
#NAME
####Age:
#Grades:Avg(91+88+90)/3
####Zip:

In [21]:
## First
Student[1]

{'name': 'Astha Sarkar',
 'age': 20,
 'grades': {'Math': 88, 'Physics': 92, 'Chemistry': 85},
 'address': {'street': '123 College St',
  'city': 'Kolkata',
  'state': 'West bengal',
  'zip': '700001'}}

In [22]:
Student[1]['name']
## format:--
#NAME
####Age:
#Grades:Avg(91+88+90)/3
####Zip:

'Astha Sarkar'

In [55]:
print("Name:", Student[1]['name'])
print("Age", Student[1]['age'])
## we need avg
print("All marks:",sum(list(Student[1]['grades'].values())))
print("Average marks",sum(list(Student[1]['grades'].values()))/len(Student[1]['grades'].values()))
print("Address Name:", Student[1]['address']['street'])
print("Adress City:",Student[1]['address']['city'])
print('Address state:',Student[1]['address']['state'])
print("Address Zip:", Student[1]['address']['zip'])

Name: Astha Sarkar
Age 20
All marks: 265
Average marks 88.33333333333333
Address Name: 123 College St
Adress City: Kolkata
Address state: West bengal
Address Zip: 700001

In [63]:
### all student Total marks:-------------------------
#--------------------------------------------------------------------
for i in Student:
    print("The marks will be:", sum(list(Student[i]['grades'].values())))

The marks will be: 265
The marks will be: 251
The marks will be: 270
The marks will be: 248
The marks will be: 272
The marks will be: 241
The marks will be: 258
The marks will be: 270
The marks will be: 248
The marks will be: 269

In [65]:
for i in Student:
    print("the marks will be:",i,"---" ,sum(list(Student[i]['grades'].values())))

the marks will be: 1 --- 265
the marks will be: 2 --- 251
the marks will be: 3 --- 270
the marks will be: 4 --- 248
the marks will be: 5 --- 272
the marks will be: 6 --- 241
the marks will be: 7 --- 258
the marks will be: 8 --- 270
the marks will be: 9 --- 248
the marks will be: 10 --- 269

In [71]:
total=0
for i in Student:
    y=sum(list(Student[i]['grades'].values()))
    print("the marks will be:",i,"---" ,y)
    total+=y
print("the total will be",total)

the marks will be: 1 --- 265
the marks will be: 2 --- 251
the marks will be: 3 --- 270
the marks will be: 4 --- 248
the marks will be: 5 --- 272
the marks will be: 6 --- 241
the marks will be: 7 --- 258
the marks will be: 8 --- 270
the marks will be: 9 --- 248
the marks will be: 10 --- 269
the total will be 2592

In [15]:
## Find out highest marks of the student 
a=[]
for i in Student:
    y=sum(list(Student[i]['grades'].values()))  
    a.append(y)
print(a)
print('max element will be: ', max(a))
#or------------------------------------
a.sort()
print('max element will be:', a[-1])

[265, 251, 270, 248, 272, 241, 258, 270, 248, 269]
max element will be:  272
max element will be: 272

In [22]:
## who is gave max marks show his/her details
a=[]
for i in Student:
    y=((Student[i]['name'], sum(list(Student[i]['grades'].values()))))
    print(y)

('Astha Sarkar', 265)
('Raj Malhotra', 251)
('Riya Sen', 270)
('Amit Sharma', 248)
('Neha Gupta', 272)
('Ankit Roy', 241)
('priya Mehta', 258)
('Arjun Nair', 270)
('Sana Khan', 248)
('Rohit Das', 269)

In [32]:
a=[]
for i in Student:
    names=(Student[i]['name'])
    marks=(sum(list(Student[i]['grades'].values())))
    a.append(marks)
print(a)
maxx=max(a)
print('heightest marks:--',maxx)
#print(names,marks)
for i in Student:
    names=(Student[i]['name'])
    marks=(sum(list(Student[i]['grades'].values())))
    if (marks==maxx):
        print(names)

[265, 251, 270, 248, 272, 241, 258, 270, 248, 269]
heightest marks:-- 272
Neha Gupta

In [34]:
for i in Student:
    names=(Student[i]['name'])
    marks=(sum(list(Student[i]['grades'].values())))
    if marks==272:
        print(names)

Neha Gupta

In [43]:
## Number to calculate how much amount people present in Maharastha"
count=0
for i in Student:
    ste=(Student[i]['address']['state'])
    if (ste=="Maharasthra"):
        count+=1
print(count)

2